:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(23, 1, 1, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at center, #f8dc8b, #f9b566);

    h1 {

        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;

        font-size: 3.2em;
        line-height: 1.1;
    }

    button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
    }

    button:hover {
        border-color: #646cff;
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }

        a:hover {
            color: #747bff;
        }

        button {
            background-color: #f9f9f9;
        }
    }

    #app {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
    }

    #boards-container {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 20px;
    }

    .kanban-board {
        border: 1px solid #f80606;
        border-radius: 5px;
        padding: 10px;
        width: calc(20% - 20px);
        min-width: 250px;
    }

    .kanban-list {
        margin-bottom: 10px;
    }

    .kanban-card {
        border: 1px solid #f8bf17;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 5px;
    }

    /* 表单样式 */
    form {
        margin-bottom: 20px;
    }

    form button {
        cursor: pointer;
    }

    /* 初始隐藏，创建看板后显示 */
    #create-card-form {
        display: none;
    }

    #board-name {
        background-color: transparent;
        border: 2px solid #059d0f; 
        padding: 10px; 
        margin: 10px; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        color: inherit; 
        transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }
    
    #board-name:focus {
        outline: none; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        border-color: #036102; 
    }
    #card-name {
        background-color: transparent;
        border: 2px solid #f7c352; 
        padding: 10px; 
        margin: 10px; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        color: inherit; 
        transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }
    
    #card-name:focus {
        outline: none; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        border-color: #bda505; 
    }

    .dropzone {
        border: 2px solid #f855f8; 
        padding: 10px;
        text-align: center; 
        margin: 10px; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: transparent; 
        transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out; 
    }
    
    .dropzone:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        border-color: #d53f95;
    }

    .task-item {
        background-color: beige;
        transition: background-color 0.3s;
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .task-item span {
        display: inline-block;
        margin-right: 10px;
      
    }

   
    .task-item span:focus {
        outline: none;
       
        background-color: #f5f50d;
       
    }

}